.header{
    background-color: black;
    display: flex;
    width: 100%;
    top: 0;
    padding: 25px;    


}



.innhold{
    display: inline;


}

.footer{

    background-color: black;
    
    display: flex;
    width: 100%;
    bottom: 0;
    padding: 30px;
}