body{
  margin: 0;
  padding: 0;

}



* {
  box-sizing: border-box;
}



header {
  background-color: black;
  padding: 1px;
  text-align: center;
  font-size: 35px;
  color: white;
}


nav {
  float: left;
  width: 30%;
  background: #abdbe3;
  padding: 20px;
}


nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: white;

  
}


section::after {
  content: "";
  display: flex;
  clear: both;
}


footer {
  background-color: #76b5c5;
  padding: 10px;
  text-align: center;
  color: white;
  display: flex;
  
  bottom: 0;
}


@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}


.navbar{
  background-color: #1e81b0;
  display: flex;
  padding: 10px;
    top: 0;
    overflow: hidden;
    

}


.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: lightblue ;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: lightblue;
}

.dropdown:hover .dropdown-content {
  display: block;
}